
*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-flow: column;
	background-color: #333;
}
p{
	margin: 5px;
	font-size: 80px;
	color: white;
	margin-left: -100%;
    margin-right: -100%;
    text-align: center;
    word-wrap: break-word;
}
@keyframes bipping{
	0% {
		 transform: scale(0, 0);
		background-color: red;
	}
	100%
	{
		 transform: scale(1, 1);
	}
}
img{
	margin: 50px 0 10px 0;
	height: 300px;
	width: 300px;
	border-radius: 100% 
}

.field{
	height: 400px;
	width: 400px;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center
}
.bip{
	
	height: 300px;
	width: 300px;
	border-radius: 100%;
	margin: 100px 0 0 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3c5bd+0,f3c5bd+0,e86c57+50,ea2803+51,ff6600+75,c72200+100 */
	/*background: -webkit-radial-gradient(center, ellipse cover, rgba(0,3,51,0) 0%,rgba(0,3,51,0.8) 16%,rgba(0,3,51,1) 20%,rgba(255,48,48,1) 26%,rgba(0,3,51,1) 31%,rgba(255,48,48,1) 36%,rgba(0,3,51,1) 42%,rgba(255,48,48,1) 47%,rgba(0,3,51,1) 53%,rgba(255,48,48,1) 59%,rgba(0,3,51,1) 64%,rgba(255,48,48,1) 70%,rgba(133,26,49,1) 81%,rgba(89,18,50,0.8) 85%,rgba(33,9,51,0) 90%,rgba(0,3,51,0) 93%);*/
	animation-name: bipping ;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	}

